<!DOCTYPE html>
<html>
<head>
  <title>Subscribr</title>
  <%= stylesheet_link_tag 'http://matenia.com/assets/bootstrap.css' %>
  <%= stylesheet_link_tag 'subscribr/application' %>
  <%= javascript_include_tag 'subscribr/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <%= yield %>
  </div>


</body>
</html>
